@import "tailwindcss";

.photo-background{
  position: relative;
  overflow: hidden; 
  min-height: 100vh;
  z-index: 0;
}

.photo-background::before{
  content: "";
  position: absolute;
  inset: 0; 
 background-image: var(--bg-image, none);
  background-color: var(--bg-color, #101828);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(20px) brightness(0.7);
  transform: scale(1.05);
  z-index: -1;
  pointer-events: none;
}
